.modal-content {
  .modal-body {
    .adduser--form {
      .input--user--content {
        width: 100%;
      }
    }
  }
}

.modal-create-user {
    .preview-image {
      height: 30vh;
      border: 1px dashed #ccc;
      display: flex;
      justify-content: center;

      .content-preview-image {
        display: flex;
        height: 30vh;
        align-items: center;
        justify-content: center;
        color: #ccc;
      }

      .img {
        max-width: 100%;
        max-height: 100%
      }
    }
  .label-upload{
    .content-label-upload {
      display: flex;
      align-items: center;
      width: fit-content;
      padding: 10px 10px;
      background: #eeeeee;
      border-radius: 11px;
      margin: 10px 0 10px 0;
      cursor: pointer;
      &:hover{
        background: #dcdcdc;
      }
  }
  }
}